body {
    margin: 0;
    position: relative;
    user-select: none;
    font-weight: bold;
    font-family: Arial,'나눔고딕',NanumGothic,-apple-system,
    BlinkMacSystemFont,'Apple SD Gothic Neo','맑은고딕',MalgunGothic,'돋움',Dotum,Sans-serif;
}
/*카테고리 세줄 comicinfo 부분에가로로표시*/
ul {
    padding: 0; 
    margin: auto;
}

li {
    display: inline-block;
    list-style-type: none;
    padding: 13px 15px;
}

div.head {
    height: 55px;
    width: 980px;
    margin: auto;
}

a {/*이런거 밑에 버튼a에 영향줄수도있을듯*/
    display: inline-block;
}

a.naver {
    width: 53px;
    height: 10px;
    margin-top: 20px;
    margin-right:5px ;
}

a.webtoon {
    height: 21px;
    font-size: 23px;
    margin-top: 15px;
}

a.webnovel {
    color: #434343;
    margin-right: 30px;
}

input {
    width: 320px;
    height: 27px;
    border:1px solid #e5e5e5;
}

div.menu {
    border-top: 1px solid #f2f2f2;
    border-bottom:1px solid #e5e5e5;
}

ul.menu {
    font-size: 14px;
    display: inline-block;
}

div.menu-inner {
    width: 960px;
    margin: auto;
}

div.menu .right-banner {
    float: right;
    line-height: 42px;
    font-weight: normal;
    font-size: 12px;
}

ul.menu li.selected {
    color: white;
    background-color: #00d564;
}

div.submenu {
    border-bottom: 1px solid #ededed;
    background: #fafafa;
}

ul.submenu {
    width: 960px;
    font-size: 12px;
    color: #434343;
}

ul.submenu li {/*(.submenu li로는 안되나?)*/
    padding-left: 0px;
    margin-right: 15px;
}

.submenu li {
    padding: 10px 15px;
    color: #434343;
}

ul.category_tab {
    width: 980px;
    margin: 10px auto 0;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
}
.category_tab li {
    padding-right: 0;
}
/*웹툰 썸네일하고 제목라인포지션기준부모태그??*/
/*.page-container {여기 부터 다시해보기
    width: 960px;
    margin: auto;
}*/

.page-container {
    width: 980px;
    margin: auto;
}
.webtoon-info {
    position: relative;
    top:20px;
    left: 9px;
}

.webtoon-info .thumbnail {
    display: inline-block;/*position ab 으로 나란히된다면 굳이필요없을듯*/
}

.webtoon-info .detail {
    width: 730px;
    float: right;
    margin-right:12px;
    font-weight: normal;
}

.detail h2 {
    font-size: 18px;
    margin: 0;
}

.detail span  {
    font-weight: normal;
    font-size: 12px;
    margin-right: 6px;
}

.detail .middle-span {
    font-size: 12px;
    margin-left: 8px;
}

.detail p {
    font-size: 12px;
    line-height: 18px;
    color: #666;
    margin-bottom: 6px;
}

.detail ul li{
    border: #b8b8b8 1px solid;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    margin-right: -6px;
    padding: 9px 11px;
}

.title-area {
    border-bottom: 1px solid #e5e5e5;
    width: 960px;
    border-top: 2px solid #b7b7b7;
    margin: auto;
    margin-top: 83px;
}

.title-area .view {
    background-color: #fafafa;
    border-bottom: 1px solid #f2f2f2;
    height: 26px;
    padding: 12px 0 0 14px;
}

.view h3 {
    display: inline-block;
    font-size: 14px;
    margin: 0;
}
.view div {
    float: right;
    font-size: 11px;
    font-weight: normal;
    margin-right: 15px;
}

.title-area .vote_lst {
    position: relative;
}

.rate {
    margin-left: 0;
    display: inline-block;
    width: 500px;/*처음부터 틀만드는것같음*/
}

.rate img {
    /*margin: 10px 14px;*/
    margin-right: 5px;
    margin:13px;
    vertical-align: middle;/*별점주기부분img는 margin0줘야함*/
}

.rate .star {
    display: inline-block;
    width: 95px;
    height: 30px;
    background: url(https://ssl.pstatic.net/static/comic/images/migration/common/sp_star.gif) no-repeat 0 -140px;
    margin-top: 3px;
}

.rate span {
    font-weight: normal;
    font-size: 12px;
    vertical-align: middle;
}

.rate .score {
    font-size: 15px;
    font-weight: bold;
    font-family: tahoma,Helvetica,Sans-serif;
    margin-left: 5px;
    color: #606060;
}

.rate .partic-num {
    color: #8b8b8b;
    line-height: 28px;
}

.rate .give-star {
    margin: 13px 5px;
}

.partic-num .bar {
    display: inline-block;
    width: 5px;
    height: 25px;
    margin-left: 2px;
    margin-right: 3px;
    background: url(https://ssl.pstatic.net/static/comic/images/migration/detail/bg_bar.gif) no-repeat 100% 3px;
}

.rate .star-rate {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 15px;
    border: 1px solid #cbcbcb;
}

.star-rate img {
    margin-top: 1px;
    margin-left: 4px;
    margin-right: 0px;
}

.star-rate span {
    position: absolute;
    top: 6px;
    right: 5px;
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #fff url(https://ssl.pstatic.net/static/comic/images/migration/common/arrow_down_gy_1.gif) no-repeat 1px 1px;
}

.rate .set {
    border: 1px solid #d9d9d9;
    font-size: 11px;
    padding: 2px 3px;
}

.right-tab {
    font-size: 11px;
    font-weight: normal;
    float: right;
    margin: 8px;
    margin-right: 0px;
    color: #767676;
}

.right-bar span {
    display: inline-block;
    width: 10px;
    height: 19px;
    vertical-align: middle;
    margin-left: 5px;
    background: url(https://ssl.pstatic.net/static/comic/images/migration/detail/bg_bar.gif) no-repeat 3px 1px;
}
.copy-address {
    color: black;
    padding: 4px;
    border: 1px solid #d9d9d9;
    margin-right: 7px;
}

#remote {
    display: inline-block;
    font-size: 1px;
    text-align: center;
    width: 49px;
}
.off-now {
    border: solid 1px #d9d9d9;
    padding: 5px;
    background: #fff;
}

.on-now {
    border: solid 1px #3fa30c;
    color: white;
    padding: 5px;
    background: #2cb300;
}

.webtoon-view {
    padding-top: 50px;
}
.webtoon-view img {
    display: block;
    margin: auto;
}
/*.webtoon-view {
    text-align: center;얘네 display inline이라 화면 크기 커지면 깨짐
}*/

.outimg {
    display:block;
    margin: auto;

}
/*.right-tab {
    display: inline-block;
    width: 250px;
    height: 25px;
    margin: 3px;
    border: solid 1px blue;
    position: absolute;
    top: 0px;
    right: 0px;
}
*/
/*.rate {
    position: relative;
}
.rate .star {
    display: inline-block;
    width: 95px;
    height: 30px;
    background: url(https://ssl.pstatic.net/static/comic/images/migration/common/sp_star.gif) no-repeat 0 -140px;
    !border: solid 1px green;
    margin-top: 7px;
}

.rate span {
    font-weight: normal;
    font-size: 15px;
    color: #8b8b8b;
    font-size: 12px;
    line-height: 0px;
    vertical-align: middle;
}

.rate img {
    display: inline-block;
    margin-bottom: 9px;
    margin-right: 8px;
}

.rate .episode-score {
    vertical-align: middle;
}
*/
/*리모컨*/


.remote {
    display: none;
    position: fixed;
    top: 533px; 
    left: 1710px;
    cursor: move;
    /*!grid-template-columns: 2fr 1fr;가로*/
    grid-template-rows: 30px 2fr;/*세로*/
    width: 120px;
    height: 185px;
    float: right;
    border: #e5e5e5 solid 1px;
    border-radius: 3px;
}

.remote-head {
    position: relative;
    border: #e5e5e5 solid 1px;
    border-radius: 3px;
    padding-top: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background-color:#fafafa;
}

.remote-head .X {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 14px;
    font-weight: normal;
}

.remote-body {
    position: relative;
    background-color: #fff;
}

.title {
    position: absolute;
    top: 15px;
    left: 36px;
    font-size: 12px;
    font-weight: normal;
}

.buttons {
    height: 60px;
    position: relative;
    background: #fff;
    top: 42px;
}

.buttons * {
    position: absolute;
}

.buttons a {
    text-align: center;
    width: 25px;
    height: 24px;
    font-size: 12px;
    line-height: 26px;
    font-weight: bold;
    border: 1px solid black ;
    border-radius: 3px;
}

.first {
    left: 4px;
}

.previous {
    left: 33px;
}

.next {
    left: 59px;
}

.last {
    left: 88px;
}

.buttons .page-num{
    width: 31px;
    height: 18px;
    top: 32px;
    left: 10px;
    text-align: center;
}

.buttons span {
    font-weight: normal;
    font-size: 12px;
}

.buttons .slash{
    top: 35px;
    left: 51px;
}

.buttons .total {
    top: 34px;
    left: 59px;
}

.buttons .go {
    width: 32px;
    height: 20px;
    top:30px;
    left: 77px;
    line-height: 21px;
    font-weight: normal;
    font-size: 12px;
}

.buttons2 {
    height: 50px;
    position: relative;
    top: 44px;
    background-color:#f8f8f8 ;
    border-top: 1px solid #e2e3e3;
}



/*.button {
    display: inline-block;
    position: absolute;
    height: 40px;
    border: red solid 1px;
}

.hi {div태그로감싸고 이렇게 해도되긴함
    text-align: center;
    padding-top: 10px;
}*/

