body {
    margin: 0;
    !margin-left: 8px;
    font-weight: bold;
    font-family: Arial,'나눔고딕',NanumGothic,-apple-system,
    BlinkMacSystemFont,'Apple SD Gothic Neo','맑은고딕',MalgunGothic,'돋움',Dotum,Sans-serif;
}
/*카테고리 세줄 comicinfo 부분에가로로표시*/
ul {
    padding: 0; 
    margin: auto;
}

li {
    display: inline-block;
    list-style-type: none;
    padding: 13px 15px;
}

div.head {
    height: 55px;
    width: 980px;
    margin: auto;
}

a {/*이런거 밑에 버튼a에 영향줄수도있을듯*/
    display: inline-block;
}

a.naver {
    width: 53px;
    height: 10px;
    margin-top: 20px;
    margin-right:5px ;
}

a.webtoon {
    height: 21px;
    font-size: 23px;
    margin-top: 15px;
}

a.webnovel {
    color: #434343;
    margin-right: 30px;
}

input {
    width: 320px;
    height: 27px;
    border:1px solid #e5e5e5;
}

div.menu {
    border-top: 1px solid #f2f2f2;
    border-bottom:1px solid #e5e5e5;
}

ul.menu {
    font-size: 14px;
    display: inline-block;
}

div.menu-inner {
    width: 960px;
    margin: auto;
}

div.menu .right-banner {
    float: right;
    line-height: 42px;
    font-weight: normal;
    font-size: 12px;
}

ul.menu li.selected {
    color: white;
    background-color: #00d564;
}

div.submenu {
    border-bottom: 1px solid #ededed;
    background: #fafafa;
}

ul.submenu {
    width: 960px;
    font-size: 12px;
    color: #434343;
}

ul.submenu li {/*(.submenu li로는 안되나?)*/
    padding-left: 0px;
    margin-right: 15px;
}

.submenu li {
    padding: 10px 15px;
    color: #434343;
}

ul.category_tab {
    width: 980px;
    margin: 10px auto 0;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
}
/*웹툰 썸네일하고 제목라인포지션기준부모태그??*/
/*.page-container {여기 부터 다시해보기
    width: 960px;
    margin: auto;
}*/
.webtoon-info {
    !border: solid 1px black;/*이거하면 선으로 보임*/
    width: 960px;
    margin: auto;
    position: relative;
    top: 20px;
}

.webtoon-info img {
    position: absolute;
}

.webtoon-info .detail {
    position: absolute;
    width: 727px;
    left: 234px;
}

.detail h2 {
    display: inline-block;
    font-size: 18px;
    margin:  0 8px 0 0;
}

.detail p {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #666;
    margin-bottom: 6px;
}

.detail span {
    font-size: 12px;
    font-weight: normal;
    margin-right: 8px;
}

.detail ul {
    margin-top: 11px;

}

.detail ul li {
    font-size: 12px;
    padding: 8px 11px;
    margin:0 -3px;
    border:1px solid #b8b8b8;
}
/*.detail .middle-span {
    line-height: 0px;
}*/

.title-area {
    margin: auto;
    border: red 1px solid;
}

/*리모컨*/
.remote {
    display: grid;
    /*!grid-template-columns: 2fr 1fr;가로*/
    grid-template-rows: 30px 2fr;/*세로*/
    width: 120px;
    height: 185px;
    float: right;
    border: #e5e5e5 solid 1px;
    border-radius: 3px;
}

.remote-head {
    position: relative;
    border: #e5e5e5 solid 1px;
    border-radius: 3px;
    padding-top: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background-color:#fafafa;
}

.remote-head .X {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 14px;
    font-weight: normal;
}

.remote-body {
    position: relative;
}

.title {
    position: absolute;
    top: 15px;
    left: 36px;
    font-size: 12px;
    font-weight: normal;
}

.buttons {
    height: 60px;
    position: relative;
    top: 42px;
}

.buttons * {
    position: absolute;
}

.buttons a {
    text-align: center;
    width: 25px;
    height: 24px;
    font-size: 12px;
    line-height: 26px;
    font-weight: bold;
    border: 1px solid black ;
    border-radius: 3px;
}

.first {
    left: 4px;
}

.previous {
    left: 33px;
}

.next {
    left: 59px;
}

.last {
    left: 88px;
}

.buttons .page-num{
    width: 31px;
    height: 18px;
    top: 32px;
    left: 10px;
    text-align: center;
}

.buttons span {
    font-weight: normal;
    font-size: 12px;
}

.buttons .slash{
    top: 35px;
    left: 51px;
}

.buttons .total {
    top: 34px;
    left: 59px;
}

.buttons .go {
    width: 32px;
    height: 20px;
    top:30px;
    left: 77px;
    line-height: 21px;
    font-weight: normal;
    font-size: 12px;
}

.buttons2 {
    height: 50px;
    position: relative;
    top: 44px;
    background-color:#f8f8f8 ;
    border-top: 1px solid #e2e3e3;
}



/*.button {
    display: inline-block;
    position: absolute;
    height: 40px;
    border: red solid 1px;
}

.hi {div태그로감싸고 이렇게 해도되긴함
    text-align: center;
    padding-top: 10px;
}*/

