body {
    margin: 0;
    text-align: center;
}
h1 {
    margin-top: 130px;
    margin-bottom: 20px;
    font-size: 60px;
}
h2 {
    color: red;
}

.input-area {
    position: relative;
    height: 300px;
    width: 850px;
    margin: auto;
    /* border: black solid 1px; */
}

.input-area div {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}
.pallete {
    border: 1px solid black;
    border-radius: 15px;
    width: 40px;
    height: 40px;
}
#first {
    top: 28px;
    left: 326px;
}
#second {
    top: 28px;
    left: 686px;
}
#third {
    top:198px;
    left: 575px;
}
.input-color1 {
    top: 30px;
    left: 101px;
}
.input-area .sum {
    top: 19px;
    left: 395px;
    font-size: 55px;
}
.input-color2 {
    top: 30px;
    left: 457px;
}
.input-color3 {
    top: 200px;
    left: 300px;
}
.down {
    position: absolute;
    height: 73px;
    width: 73px;
    top: 100px;
    left: 372px;
    
}
input {
    vertical-align: middle;
    height: 25px;
    width: 110px;
}
.submit {
    font-weight: bold;
    font-size: 27px;
    width: 250px;
    height: 50px;
    display: none;
}
::placeholder {
    color: rgb(199, 183, 183);
}

.box {
    display: none;
}
.box div {
    width: 200px;
    height: 10px;
    margin: auto;
}

.result-page {
    /* border: black solid 1px; */
    margin: auto;
    position: relative;
    height: 366px;
    width: 850px;
}

.result-page div {
    position: absolute;
}
.first-info {
    width: 300px;
    height: 150px;
    /* border: black solid 1px; */
    top: 20px;
    left: 50px;
}

.firstcolor {
    width: 80px;
    height: 80px;
    border: black solid 1px;
    border-radius: 15px;
    margin: auto;
    top: 34px;
    left: 60px;
}

.result-page input{
    width: 67px;
    height: 69px;
    font-size: 25px;
    border-radius: 15px;
    text-align: center;
}

.first-ratio {
    width: 75px;
    height: 75px;
    /* border: skyblue solid 1px; */
    border-radius: 15px;
    top: 34px;
    left: 163px;

}

.second-info {
    width: 300px;
    height: 150px;
    /* border: black solid 1px; */
    top: 190px;
    left: 50px;
}

.secondcolor {
    width: 80px;
    height: 80px;
    border: black solid 1px;
    border-radius: 15px;
    margin: auto;
    top: 35px;
    left: 60px;
}

.second-ratio {
    width: 75px;
    height: 75px;
    /* border: pink solid 1px; */
    border-radius: 15px;
    top: 35px;
    left: 163px;
}

.color-view{
    width: 400px;
    height: 320px;
    /* border: solid black 1px; */
    top: 20px;
    left: 325px;
}

.your-color{
    width: 180px;
    height: 290px;
    border: black solid 1px;
    border-radius: 15px;
    top: 14px;
    left: 10px;
}

.result-color{
    width: 180px;
    height: 290px;
    border: black solid 1px;
    border-radius: 15px;
    top: 14px;
    left: 205px;
}